<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="action_open_header" model="ir.actions.client">
        <field name="name">Open Header</field>
        <field name="tag" eval="'tobaccometricspro_header'" /> <!-- Cambiado a un nombre más específico -->
        <field name="params" eval="{'js_class': 'tobaccometricspro.header'}"/> <!-- Asegúrate de que esta clase JS existe y es accesible -->
    </record>


    <menuitem id="menu_hello_world"
              name="Hello World"
              action="action_open_header"
              sequence="1"
              parent="base.menu_administration"/>
</odoo>
