<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Define una acción a ejecutar -->

    <!-- Acciones -->
    <record id="action_open_dashboard_dg" model="ir.actions.client">
        <field name="name">Dashboard Dirección General</field>
        <field name="tag">TobaccoMetricsPro.Dashboard</field>
    </record>

    <record id="action_open_dashboard_g" model="ir.actions.client">
        <field name="name">Gerencia de Planeación</field>
        <field name="tag">TobaccoMetricsPro.GerenciaPlaneacion</field>
    </record>

    <record id="action_open_dashboard_gf" model="ir.actions.client">
        <field name="name">Gerencia de Finanzas</field>
        <field name="tag">TobaccoMetricsPro.GerenciaFinanciera</field>
    </record>

    <record id="action_open_dashboard_prod" model="ir.actions.client">
        <field name="name">Gerencia de Producción</field>
        <field name="tag">TobaccoMetricsPro.GerenciaProduccion</field>
    </record>

    <record id="action_open_dashboard_rrhh" model="ir.actions.client">
        <field name="name">Gerencia de RRHH</field>
        <field name="tag">TobaccoMetricsPro.Gerencia_rrhh</field>
    </record>

    <record id="action_open_dashboard_gerencia_adm_rrhh" model="ir.actions.client">
        <field name="name">Gerencia de Administración de RRHH</field>
        <field name="tag">TobaccoMetricsPro.Gerencia_adm_rrhh</field>
    </record>

    <record id="action_open_dashboard_gerencia_marketing" model="ir.actions.client">
        <field name="name">Gerencia de Administración de Marketing</field>
        <field name="tag">TobaccoMetricsPro.Gerencia_marketing</field>
    </record>


    <record id="action_open_dashboard_gerencia_auditoria" model="ir.actions.client">
        <field name="name">Gerencia de Auditoría</field>
        <field name="tag">TobaccoMetricsPro.Gerencia_auditoria</field>
    </record>

    <record id="action_open_dashboard_gerencia_suministros" model="ir.actions.client">
        <field name="name">Gerencia de Suministros</field>
        <field name="tag">TobaccoMetricsPro.GerenciaSuministros</field>
    </record>

    <!-- Menú principal -->
    <menuitem id="menu_dashboard"
              name="Metrics Pro"
              action="action_open_dashboard_dg"
              sequence="10"/>

    <!-- Submenús bajo el menú principal -->
    <menuitem id="menu_direccion"
              name="Dirección General"
              parent="menu_dashboard"
              sequence="15"/>

    <menuitem id="menu_gerencia"
              name="Gerencias"
              parent="menu_dashboard"
              sequence="20"/>



    <!-- Ítems bajo el submenú Dirección -->
    <menuitem id="menu_dashboard_direccion_general"
              name="Dirección General"
              action="action_open_dashboard_dg"
              sequence="30"
              parent="menu_direccion"/>

    <!-- Ítems bajo el submenú Gerencias -->
    <menuitem id="menu_dashboard_gerentes"
              name="Gerencia de Planeación"
              action="action_open_dashboard_g"
              sequence="35"
              parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_financieros"
              name="Gerencia Financiera"
              action="action_open_dashboard_gf"
              sequence="36"
              parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_produccion"
              name="Gerencia de Producción"
              action="action_open_dashboard_prod"
              sequence="37"
              parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_rrhh"
              name="Gerencia de RRHH"
              action="action_open_dashboard_rrhh"
              sequence="38"
              parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_adm_rrhh"
                name="Gerencia de Administración de RRHH"
                action="action_open_dashboard_gerencia_adm_rrhh"
                sequence="55"
                parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_marketing"
              name="Gerencia de Marketing"
              action="action_open_dashboard_gerencia_marketing"
              sequence="39"
              parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_auditoria"
                name="Gerencia de Auditoría"
                action="action_open_dashboard_gerencia_auditoria"
                sequence="40"
                parent="menu_gerencia"/>

    <menuitem id="menu_dashboard_gerentes_suministros"
                name="Gerencia de Suministros"
                action="action_open_dashboard_gerencia_suministros"
                sequence="41"
                parent="menu_gerencia"/>


    <!-- Puedes agregar ítems bajo el submenú Jefaturas aquí según sea necesario -->

</odoo>
