<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Define una acción -->
    <record id="action_open_dasboard" model="ir.actions.client">
        <field name="name">Dashboard</field>
        <field name="tag">TobaccoMetricsPro.Dashboard</field>
    </record>

    <menuitem id="menu_hello_world"
              name="Hello World"
              action="action_open_dasboard"
              sequence="20"/>
</odoo>
